h1.heading-xlarge Qualification
yesno(
  model='vm.formData.residence',
  name='residence',
  label='Have you lived in the UK, channel islands or ...?',
  hint='Extra help text area to give more information'
)
yesno(
  model='vm.formData.mentalHealth',
  name='mentalHealth',
  label='Question about the mental capabilities...?',
  hint='Extra help text area to give more information'
)
yesno(
  model='vm.formData.bail',
  name='bail',
  label='Are you on bail?',
  hint='Extra help text area to give more information'
)
yesno(
  model='vm.formData.convictions',
  name='convictions',
  label='Have you even been convicted?',
  hint='Extra help text area to give more information'
)
